<ul class="tabs">
  <a href="/" id="tabHome">Home</a>
  <a href="/CV" id="tabCV">CV</a>
  <a href="/education" id="tabEducation">Education</a>
  <a href="/projects" id="tabProjects">Projects</a>
  <a href="/contact" id="tabContact">Contact</a>
</ul>
