
<body>
    <div id="Contact" data-tab-content>
        <h1>Contact</h1>
        <p class="intro">If you have any other questions or would like to get in touch,<br> feel free to send me a
          message. I'm here to help! </p><br>
        <div class="container">
          <form action="https://formsubmit.co/6a3a5ca56778cf145e10036619d1d90c" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <textarea name="message" placeholder="Message" required></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
</body>
