<div id="CV">
  <h1>CV</h1>
  <p>
    Max Diaz<br>
    Kansas City, Missouri 64126<br>
    Email: <a href="mailto:meetmr.diaz@gmail.com">meetMr.Diaz@gmail.com</a><br>
    <button id="Download">
      <a href="CS_resume.pdf" target="_blank">PDF Resume</a>
    </button><br><br>

    <strong>SUMMARY</strong><br>
    Motivated computer science professional with a strong foundation in both frontend and backend
    development. Adept problem solver with a background in production engineering, showcasing skills
    in attention to detail and effective teamwork. Experience in programming languages such as C++,
    HTML, CSS, and Java, SQL, Node.js and Express. Seeking opportunities to apply and expand my
    skills in software development and engineering process.<br><br>

    <strong>EXPERIENCE</strong><br>
    Experienced as a lead technician in mechanical engineering and process manufacturing. <br><br>
    Georgia-Pacific Corporation, Kansas City, MO<br>
    Lead Technician, 09/2010-01/2022<br>
    - Maintain quality control over corrugated packaging<br>
    - Create and improve manufacture processes<br>
    - Perform quality check; ink viscosity, ink Ph., color swatch and board caliper<br>
    - Report deviation or incorrect processes <br><br>

    Wel-Cote Manufacturing, Kansas City, MO<br>
    Operator, 09/2004-06/2010<br>
    - Operator: ready mix, liquid or dry<br>
    - Cross trained with all the other equipment<br>
    - Follow formula card to achieve proper viscosity<br><br>

    Volunteering/Part-time staff at Grace United Community Church, Kansas City, MO<br>
    Part-time staff, 2000–2004<br>
    - After school tutor<br><br>

    <strong>SKILLS</strong><br>
    - Programming Languages: C++, HTML, CSS, Java <br>
    - Database: MongoDB, MySQL, DBeaver <br>
    - Web Development: Frontend (HTML, CSS, JavaScript), Backend (Node.js, Express) <br>
    - Tools and Technologies: Visual studio, GitHub, Mongo Atlas. <br><br>

    <strong>EDUCATION</strong><br>
    Metropolitan Community College, Kansas City, MO<br>
    - AAS in Engineering. Emphasis Civil/Mechanical Engineering<br>
    - AAS in Engineering. Emphasis Computer Science<br><br>

    University of Missouri-Kansas City, Kansas City, MO<br>
    - B.S. Computer Science Fall 2023 <br>


  </p>
</div>