
<body>

    <div id="Education" data-tab-content>
        <h1>Education Background</h1>
        <div id="educationHistory">
          <p>I started my College journey pursuing civil and Mechanical engineering back in Community College at Penn
            Valley and Maples Woods. I have always been interested in how things work and how they are built. I have
            always been a hands-on person and enjoy building things. During my time at Penn Valley, I was able to obtain
            my Associates in Engineering. I had the opportunity to work as a lead technician for years. I enjoyed the
            work, but I felt like I was missing something. I decided to go back to school and obtain my B.S in Computer
            Science. I am currently a student at UMKC and will be graduating in fall 2023. Since then, I have enjoyed this
            field better than my previous one.</p>
        </div>
        <div id="educationDetails">
          <h4>Student: University of Missouri-Kansas City (2021-2023)</h4>
          Degree: Bachelor of Science in Computer Science <br><br>
          <li>Discreet Math II</li>
          <li>Data Structure</li>
          <li>Ethics & Profession</li>
          <li>Statistics</li>
          <li>Applied Probability</li>
          <li>Programming language</li>
          <li>Data Communication and Network</li>
          <li>Operating Systems</li>
          <li>Algorithms</li>
          <li>Java Programming Application</li>
          <li>Database Management</li>
          <li>Foundation of Software Engineering</li>
          <li>Linear Algebra</li>
          <li>VR App Dev with Unity</li>
          <li>Web Development</li>
  
          <h4>Metropolitan Community College Penn Valley and Mapplewoods</h4>
          Associates Science in Civil Engineering <br>
          Associates Science in Computer Science
  
          <li>Object Oriented Programming C++</li>
          <li>History</li>
          <li>Computer Architecture</li>
          <li>Discrete Structures</li>
          <li>Calculus I</li>
          <li>Calculus II</li>
          <li>Calculus III</li>
          <li>Defferential Equations</li>
          <li>Discreet Math I</li>
          <li>Programming Fundamentals</li>
          <li>Philosophy</li>
          <li>Engineering Physics I</li>
          <li>Engineering Physics II</li>
          <li>Engineering statics and Computation</li>
          <li>Psycology</li>
          <li>Engineering Statics</li>
          <li>Engineering Dynamics</li>
          <li>General Chemistry</li>
  
        </div>
      </div>
    
</body>
