
  <div class="tab-content">
    <div id="Home">

      <h1>About Me</h1>
      <img src="pics/Max.JPG">

      <p> Hi. My name is Max Diaz. I am returning to school to obtain my B.S in computer science. I have an interest in
        both frontend and backend development. While initially began school pursuing a Civil/Mechanical Engineering, I
        discovered my deep fascination for computer science. Years of experience as a lead technician in production
        engineering have equipped me with invaluable skills, such as problem-solving, attention to detail, and effective
        teamwork. I am excited to leverage this experience as I dig further into the field of computer science. <br><br>
        Currently, I am working on projects that allow me to apply my skills in both frontend and backend development.
        This hands-on experience has been instrumental in expanding my knowledge of programming languages and
        cutting-edge technologies. I relish the opportunity to tackle challenges and explore innovative solutions within
        this dynamic field. <br><br>
        The future in the computer science field shows tremendous opportunities, and I eagerly anticipate the endless
        possibilities it offers. I am excited to embark on this journey and contribute my skills and enthusiasm to
        making a meaningful impact in the field.
      </p>
    </div>
  </div>


