
<body>
    <div id="Projects" data-tab-content>
        <h1>Projects</h1>
        <p>I have experience in developing small-scale applications using both C++ and Java, ranging from simple
          calculators to GUI-based applications. However, my most significant projects have involved extensive utilization
          of Object-Oriented Programming principles. For further details and access to the corresponding GitHub
          repositories, kindly click on each picture.</p>
  
        <div id="mainBox">
          <div id="box">
            <div class="content">
              <h1 class="heading">SOS Game</h1>
              <p>The SOS game is a Java application developed using Object-Oriented Programming. It allows players to play
                a word-based game where they aim to form "SOS" sequences to earn points. The game features multiple modes,
                customizable board sizes, and the option to play against a computer. Additionally, it includes a record
                feature that logs players' moves and turns during the game. Overall, it offers an engaging programming
                project that demonstrates the use of Java and Object-Oriented principles in game development.</p>
            </div>
            <div class="image-wrapper">
              <a href="https://github.com/MeetMr-Diaz/SOS_Game_Sprint_5.git" target="_blank">
                <img src="pics/SOS.png" alt="">
              </a>
            </div>
          </div>
          <div id="box">
            <div class="content">
              <h1 class="heading">VR Game</h1>
              <p>In this Dart Shooting VR game, created with Unity and JavaScript, players will experience a simple yet
                engaging shooting experience in a virtual environment. Using VR controllers, players can grab and shoot
                objects, while sound effects enhance the overall gaming experience. The game includes a user-friendly UI
                canvas with instructions and a secondary canvas for scene resets. A score tracker keeps count of target
                hits, with some targets disappearing upon impact. Overall, this small and immersive VR game promises an
                enjoyable experience for players to enjoy.</p>
            </div>
            <div class="image-wrapper">
              <a href="https://github.com/MeetMr-Diaz/VR-Dart-Shooting.git" target="_blank">
                <img src="pics/VR.png" alt="">
              </a>
            </div>
          </div>
  
          <div id="box">
            <div class="content">
              <h1 class="heading">Database App </h1>
              <p>The Energy application is a comprehensive utility company app that efficiently manages customer
                information and billing using a connected database server. With its user-friendly interface, the app
                empowers the company to perform essential tasks such as adding or removing customers and updating their
                personal details and billing status. Moreover, it provides the flexibility to adjust energy tariffs
                between daily and flat rates, facilitating accurate monthly bill calculations for each customer. To ensure
                security and accessibility, the app includes a login system that allows authorized users to access and
                interact with the connected database server. This robust and versatile app streamlines the utility
                company's operations and enhances customer service. </p>
            </div>
            <div class="image-wrapper">
              <a href="https://github.com/MeetMr-Diaz/Energy_Bill_Database_search.git" target="_blank">
                <img src="pics/Energy.png" alt="">
              </a>
            </div>
          </div>
        </div>
        </p>
      </div>
</body>
